nav.navHeader{
    display: flex;
    justify-content: space-between;
    padding: 0 4vw;
    height: 10vh;
    position: fixed;
    top: 0;
    width: calc(100% - 8vw);
    background-color: rgba(2, 48, 71, 0);
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.navHeader.scrolled {
    background-color: rgba(2, 48, 71, 1); 
}

nav .nav-name{
    display: flex;
    align-items: center;
}

nav .nav-name ul{
    display: flex;
    gap: 5vw;
    margin: 0;
    list-style: none;
}

nav .nav-name li{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    cursor: pointer;
}

nav .nav-logo{
    font-family: 'Oswald', sans-serif;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    font-size: 1.8vw;
    cursor: pointer;
}

nav .nav-logo{
    display: flex;
    align-items: center;
}