#projets{
    height: 90vh;
    padding-top: 10vh;
    margin: 0 5vw;
}

.navProjects{
    width: 20vw;
    display: flex;
    justify-content: center;
}

.navEtProjets{
    display: flex;
}

.imgProjets{
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1em 2em;
}