.container {
  display: flex;
  justify-content: space-around;
}

.nav-project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5vw;
  height: 6vh;
  padding: 3vh 0 5vh 0;
}

.nav-project p {
    display: flex;
    font-family: 'Oswald', sans-serif;
    color: white;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.8vw;
}

.nav-project a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
}
  

.content-projet{
    width: 40vw;

}

.content-projet ul{
    list-style-type: square;
    color: #FAC91D;
}

.content-projet p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    line-height: 1.4em;
    margin: 4vh 0;
}

.content-projet ul p{
  margin: 1vh 0;
}